apiVersion: v1
data:
  secretkey: ejZGUnVZbkZSaEJyZEVBYVNtZUJPMWpXbWkyaE4vWkRlYjZZZklyTWFKUHFjbVdtN04xY3gxb0c4UlpOeWpOUApjbmdwQjhxTVQ5VnlPVXVram5Xa0N3YWdqV3QwWjN0NjFwNjlPajdQZUJRUHJ5V0E0Mzd1NEdlV2x3RDZOSFdUClZNbzVQbEdWSzVXZmlYd0xjVTBvT21oa25ES1JZZFFMZGdkaHRqUUVscG89
kind: Secret
metadata:
  name: memberlist
  namespace: metallb-system
type: Opaque
